@media screen and (max-width: 500px){
    .header-main .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .header-main{
        height: 60px;
    }
    .header-big .container{
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 20px;
    }
    .header-big .container .table{
        text-align:center;
    }
    .contact-us .form{
      width: 380px;
      margin-left: 25px;
    }
    .contact-us .header-contact p{
      text-align: center;
      margin: 14px;
    }
    .contact-us .form .header-input .name input{
      width: 150px;
      padding: 8px;
      font-size: 14px;
    }
    .contact-us .form .header-input .email input{
      width: 150px;
      padding: 8px;
      font-size: 14px;
    }
    .contact-us .form .textmessage .subject input{
      width: 340px;
      padding: 8px;
      font-size: 14px;
    }
    .contact-us .form .textmessage .message input{
       width: 340px;
      padding: 8px;
      font-size: 14px;
    }
    .contact-us .button button{
      width: 340px;
    }
    .contact-about{
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
    .finally{
       display: flex;
       flex-direction:column;
       justify-content: center;
       align-items: center;
       height: 850px;
    }
    .finally .header-final{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .finally .result{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin-top: 30px;
    }
}
